<% include ./partials/header %>

<div class="container text-center">
    <div class="row">
        <% campgrounds.forEach(function(campground){%>
            <div class="col-4">
                <h3><%=campground.title %></h3>
                <img class="img-thumbnail h-50px" src="<%=campground._image%>" alt="user_img">
                <p><%=campground.info%></p>
                <a href="/campgrounds/camp/<%=campground._id%>">More info...</a>
            </div>
        <% }); %>    
    </div>
</div>