<% include ./partials/header%>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="container mt-custom">
                    <h1>YelpCamp</h1>
                    <hr>
                    <p>Find your next camp spots.</p>
                </div>
            </div>
        </div>
    </div>
<% include ./partials/footer%>
