<% include ./partials/header%>
    <div class="row">
        <div class="col-12 text-center">
            <h1>YelpCamp</h1>
            <hr>
            <p>Find your next camp spots.</p>
        </div>
    </div>
<% include ./partials/footer%>
